// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {

	--font-family: Montserrat;
	--font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --font-size-small: 12px;
  
  --primary-color: #0e001b;
  --header-bg: #0e001b;

  --home-link-color: #A1613F;
  --home-link-hover-color:  var(--primary-color);

  --button-color: #ff80ad;
  --button-alternate-color:#0e001b;

  --post-link-color: #0F070B;


  --nav-link-hover-bg: #111;
  --text-color-meta: rgba(0,0,0,0.5);

  --label-text: rgba(0,0,0,0.5);
  --input-focus-border: #83AAAC;
  
  // CSS Grid Utility
  --grid-gap: 30px; 

}